[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
Jinja2 = "*"
music21 = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
