{% extends "base.html" %}

<!-- prettier-ignore -->
{% block main %}
<form id="choraleForm">
  <div class="form-group row text-left">
    <label for="inputTs" class="col-sm-3 col-form-label">Time Signature</label>
    <input
      type="text"
      class="col-sm-9 form-control"
      name="ts"
      id="inputTs"
      placeholder="4/4"
      value="{{ ts if ts else '4/4' }}"
    />
  </div>
  <div class="form-group row text-left">
    <label for="inputRhythm" class="col-sm-3 col-form-label">Rhythm</label>
    <input
      type="text"
      class="col-sm-9 form-control"
      name="rhythm"
      id="inputRhythm"
      placeholder="1"
      value="{{ rhythm if rhythm else '1' }}"
    />
  </div>
  <div class="form-group row">
    <textarea class="form-control" name="chorale" rows="8">
{{ chorale if chorale else 'B-: I I6 IV V43/ii ii V V7 I' }}</textarea
    >
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" id="submitBtn" />
    <div class="progress" id="progressCtr" style="display: none;">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        id="progressBar"
      ></div>
    </div>
  </div>
</form>
<script>
  const progress = (() => {
    let timer = null;

    const start = (approxTime) => {
      $("#submitBtn").css("display", "none");
      $("#progressCtr").css("display", "flex");

      const startTime = Date.now();
      const bar = $("#progressBar");
      timer = setInterval(() => {
        const elapsed = (Date.now() - startTime) / approxTime;
        const expt = 1 - Math.exp(-3 * elapsed);
        bar.css("width", 100 * expt + "%");
      }, 100);
    };

    const cancel = () => {
      $("#progressBar").css("width", "0%");
      $("#submitBtn").css("display", "inline");
      $("#progressCtr").css("display", "none");
      clearInterval(timer);
    };

    return { start, cancel };
  })();

  $("#choraleForm").submit(async (event) => {
    event.preventDefault();

    const length = event.target.chorale.value.split(" ").length;
    const approxTime = length * 600;
    progress.start(approxTime);

    const { id } = await $.ajax({
      url: "/generate",
      type: "POST",
      data: JSON.stringify({
        ts: event.target.ts.value,
        rhythm: event.target.rhythm.value,
        chorale: event.target.chorale.value,
      }),
      dataType: "json",
      contentType: "application/json; charset=utf-8",
    });

    while (true) {
      const resp = await $.get(`/status/${id}`);
      if (resp.status === "working") {
        await new Promise((resolve) => setTimeout(resolve, 3000));
      } else {
        if (resp.status === "done") {
          window.location.href = `/view/${id}`;
        } else if (resp.status === "error") {
          progress.cancel();
          Swal.fire("An error occurred", resp.message, "error");
        }
        break;
      }
    }
  });
</script>
{% if mxml %}
<div class="row border border-secondary" id="sheet-music"></div>
<script src="https://prod.flat-cdn.com/embed-js/v1.1.0/embed.min.js"></script>
<script>
  const xml = `{{ mxml | safe }}`;
  const container = document.getElementById("sheet-music");
  const embed = new Flat.Embed(container, {
    height: 470,
    embedParams: {
      appId: "5c4125f48f94526f29274055",
    },
  });
  embed.loadMusicXML(xml);
</script>
<!-- prettier-ignore -->
{% endif %}
{% endblock %}
